.lite-color {
    color: var(--txt-grey-lite);
}

.hbotQl {
    color: var(--txt-grey-lite);
    font-weight: bold;
    letter-spacing:  1px;
}

.dtqzBx div:first-child {
    color: var(--txt-grey-lite);
}
